{% extends 'base.html' %}

{% block content %}

   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <div class="container">
        <h1>Contact List</h1>
        <a href="{% url 'contact' %}" class="btn btn-primary mb-3">Create New Contact</a>
        
        <ul class="list-group">
            {% for contact in contacts %}
                <li class="list-group-item">
                    <a href="{% url 'contact_detail' contact.pk %}">{{ contact.first_name }} {{ contact.last_name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

{%endblock%}